h1.page-title {
    color: darkgray;
}

/* Styling for cards */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

bs-callout.p:last-child {
    margin-bottom: 0;
}

.bs-callout-danger {
    border-left-color: #ce4844;
}

h4.danger {
    color: #ce4844;
}

.bs-callout-warning {
    border-left-color: #aa6708;
}

h4.warning {
    color: #aa6708;
}

.bs-callout-info {
    border-left-color: #007bff;
}

h4.info {
    color: #007bff;
}

.top-margin-spacing {
    margin-top: 10px;
}


/* Styling for modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 30%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: .5em;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

._modal-close-icon {
    width: 25px;
    height: 25px;
    fill: transparent;
    stroke: black;
    stroke-linecap: round;
    stroke-width: 2;
}

._hide-visual {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

._modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    line-height: 1;
    background: #f6f6f7;
    border: 0;
    box-shadow: 0;
    cursor: pointer !important;
}

.modal-body {
    padding: 2rem;
    padding-top: 0rem;
    margin-top: 2rem;
}

.form-label {
    font-weight: bolder;
}

.header-spacing {
    margin-top: 20px;
}

.footer-spacing {
    margin-top: 40px;
}

.button-standard {
    width: 9rem;
}